<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My home page</title>
    <link rel ="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div>
        <nav class="navbar">
            <div class="logo">Sunshine Resort</div>
            <div class="nav-links">
            <a href = "#">Home</a>
            <a href = "#">Rooms</a>
            <a href = "#">Contact</a>
            <a href = "#">About Us</a>
            <button class='btn'>Book Now</button>
        </nav>
        <section class="hero">
            <h1><h1>Welcome to Sunshine Resort </h1>
            <p>Experience luxury and comfort like never before</p>
        
        </section>
    </div>   
    <div class="Container">

    <div>
        <img src="{% static 'images/caption.jpg' %}" 
     alt="image" 
     width="80%" 
     height="auto">

        
    </div>
</body>
</html>